html, body {
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden !important;
}

body {
    font-family: 'Fira Code', sans-serif;
    background-color: #050743;
    color: #f1f1f1;
}

body.menu-open {
    overflow-y: hidden;
}

/* Menu balk */
nav{
    background-color: #b799ff;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Logo */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: #a2faa3;
    /* Snijd linker bovenhoek en rechter onderhoek recht af */
    clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
    -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
    padding: 0.5em;
    position: relative;
    left: calc(50% - 40px);
    top: 40px;
}

.logo-container a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #050743;

}

/* Hamburger menu */
.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 0;
}

.hamburger i {
    font-size: 3rem;
    display: none;
    pointer-events: none;
}
.hamburger .fa-bars {
    display: inline;
}
.hamburger.open .fa-bars {
    display: none;
}
.hamburger.open .fa-xmark {
    display: inline;
    position: fixed;
}

.nav-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b799ff;
    z-index: 9;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.77,0,0.175,1);
    pointer-events: none;
    text-align: center;
}

.nav-links li {
    list-style: none;
    margin: 3rem auto;
    text-transform: uppercase;
    background-color: #a2faa3;
    width: 80%;
    padding: 2em 1em;
    clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
}

.nav-links li:first-child {
    margin-top: 7rem;
}

.nav-links a{
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #050743;
}

.nav-links.open {
    transform: translateX(0);
    pointer-events: auto;
    transition: transform 0.4s cubic-bezier(0.77,0,0.175,1);
}

/* Header */

header {
    max-width: 100%;
    text-align: center;
    background-image: url('images/profileWithoutBG.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    padding-top: 80px;
    height: 100vh;
}

.header-content {
    color: #f1f1f1;
    padding: 2em;
    background-color: #b799ff;
    width: 100%;
    height: 40vh;
    margin-top: calc(60vh - 80px);
}

header h1{
    font-size: 3rem;
    text-transform: uppercase;
}

.cta{
    text-decoration: none;
    background-color: #a2faa3;
    color: #050743;
    padding: 0.5em 1em;
    font-weight: bold;
    margin-top: 2em;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
    font-size: 1.5em;
}

.cta:hover {
    color: #00bcd4;
}

/* Sections */
#about{
    background-color: #b799ff;
    height: 50vh;
}

#projects{
    background-color: #050743;
    height: 50vh;
}

/* Footer */

footer{
    background-color: #b799ff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Color Classes */
.color-primary{
    color: #f1f1f1;
}

.color-secondary{
    color: #050743;
}